body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

h1 {
  font-family: 'Josefin Slab', serif;
  color: white;
    text-shadow: 3px 3px 4px #78909c;
  margin-left: 2em;
}

main {
  flex: 1 0 auto;
}

.header-container {
  display: flex;
  height: 15vh;
  width: 100vl;
  background-color: black;
}

.nav-buttons-container {
  display: flex;
  width: 20vw;
  height: 80vh;
  float: right;
  justify-content: center;
  background-color: #455a64;
}

.nav-buttons-container-child {
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column; /* works with row or column */
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: space-around;
}
a.btn.waves-effect.waves-green {
  background-color: #78909c;
  font-family: 'Josefin Slab', serif;
}

button.submitbtn {
  background-color: #78909c;
  font-family: 'Josefin Slab', serif;
}

.footer-container {
  display: flex;
  height: 5vh;
  width: 100vl;
  background-color: black;
  justify-content: flex-end;

}

h4 {
  font-family: 'Josefin Slab', serif;
  text-shadow: 1px 1px 1.5px #78909c;
}

h6 {
  font-family: 'Josefin Slab', serif;
  color: white;
    text-shadow: 3px 3px 4px #78909c;
  margin-right: 1.5em;
}

p li {
  font-family: 'Antic', sans-serif;
  font-size:
}
