body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

h1 {
  font-family: 'Josefin Slab', serif;
  color: white;
  text-shadow: 3px 3px 4px #78909c;
  margin-left: 2em;
}

main {
  flex: 1 0 auto;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.header-container {
  display: flex;
  height: 10vh;
  width: 100vl;
  background-color: black;
}

.img-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  height: 75vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 10vw;
}

img {
  width: 80%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.nav-buttons-container {
  display: flex;
  width: 20vw;
  height: 75vh;
  float: right;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 10vw;
  background-color: #455a64;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.nav-buttons-container-child {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: space-around;
}

a.btn.waves-effect.waves-light {
  background-color: #78909c;
  font-family: 'Josefin Slab', serif;
}

button.submitbtn {
  background-color: #78909c;
  font-family: 'Josefin Slab', serif;
}

label.active {
  font-family: 'Antic', sans-serif;
}

input#firstName.validate {
  border-bottom: 1px solid blue;
  box-shadow: 0 1px 0 0 red;
}

.tabs-content.carousel .carousel-item {
  height: 120%;
}

.location-box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}



.footer-container {
  display: flex;
  height: 5vh;
  width: 100vl;
  background-color: black;
  justify-content: flex-end;
}

h4 {
  display: flex;
  justify-content: center;
  font-family: 'Josefin Slab', serif;
  text-shadow: 1px 1px 1.5px #78909c;


}

h6 {
  font-family: 'Josefin Slab', serif;
  color: white;
  text-shadow: 3px 3px 4px #78909c;
  margin-right: 1.5em;
}

p {
  font-family: 'Antic', sans-serif;
}

li {
  font-family: 'Antic', sans-serif;
}

a {
  font-family: 'Josefin Slab', serif;
}

hr {
    display: block;
    color: #8cf07c;
    height: 1.5px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
